[v-cloak] {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 13px;
    color: #444;
}

html {
    line-height: 1.25;
}

.error {
    font-weight: bold;
    color: red;
    font-size: 120%;
}

.notes {
    font-size: 14px;
    color: #e55302;
    font-style: italic;
}

#main {
    margin: 5pt;
}

ul {
    margin-top: 0.2rem;
}


.pE-theme-paris1-2016 #bandeau-anonyme {
    display: none;
}

#bandeau-anonyme-title {
    text-align: center;
    color: #727780;
    font-size: 26px;
    padding: 9px 0px 13px 0px !important;
}

h2 {
    padding-left: 15px;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 25px;
}

h3 {
    padding-left: 15px;
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 1rem;
}

p,
ul li {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

form {
    background: #f7F7F8;
    border-bottom: 1px #ddd solid;
    border-top: 1px #ddd solid;
    padding-top: 15px;
    padding-bottom: 25px;
    color: #333;
}

form p {
    padding-left: 20px;
    font-size: 14px;
}

select {
    padding-left: 8px;
    font-size: 15px;
}

form input {
    height: 16px;
    margin-right: 15px;
    padding: 5px;
}

label.for-input-file-upload {
    display: block;
    font-size: 17px;
    border: 2px solid #205599;
    height: 35px;
    line-height: 35px;
    box-shadow: none;
    background: #00326E;
    border-radius: 9px;
    color: #eee;

    width: 30%;
    min-width: 280px;
    padding: 4px 8px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}

label.for-input-file-upload svg {
    fill: #c89108;
    padding: 0px 4px 0px 4px;
    margin-bottom: -1px;
    height: 15px;
    width: auto;
}

label.for-input-file-upload:hover {
    background: #20558e;
    border: 2px solid #2055cc;
    color: white;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    background: linear-gradient(to top, #00326E, #205599);
}

table {
    border-collapse: collapse;
}
td {
    border: 1px solid gray;
    padding: 0.2rem 0.5rem;
}
th {
    text-align: center;
    padding: 0 1rem;
}
tr:nth-child(even) {
    background-color: #eee;
}

.is_deleted {
    color: red;
    font-style: italic;
}

dt { font-weight: bold;}

dd {
    margin: 0.2rem 0 0.7rem 1rem;
}

button {
    line-height: 27px;
}

input.align-right {
    text-align: right;
}
/* workaround firefox messy placeholder on <input type="number"> */
input[type=number].align-right::-moz-placeholder {
    text-align: left;
}

form.uploading {
    opacity: 0.5;
}

.uploaded_msg {
    background: #f7f7f8;
    border-bottom: 1px #ddd solid;
    border-top: 1px #ddd solid;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin-top: 25px;    
}

.manage_float_right {
    float: right;
    padding : 10px;
    margin-bottom: 10px; 
    border-left: 1px dotted #AAA;
}

.drop-zone { 
    margin: 25px 18px 2px;
    border: dashed #777 1px;
    border-bottom: dashed #777 2px;
    background:white ;
    height: 92px;
}

.drop-zone:hover, .drop-zone.dragging_over_drop_zone  {
    background: #fff2bb70;
    border-color: blue; 
}

.drop-zone:hover:after, .drop-zone.dragging_over_drop_zone:after  {
    content:"Glissez le fichier ici, ou utilisez le bouton...";
    padding-left:15px;
    color: #00326E;
    font-size:16px;
    font-style:italic;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

/* ensure we can drop over the button inside drop-zone (https://stackoverflow.com/a/14027995/3005203) */
.dragging_over_drop_zone * {
    pointer-events: none;
}

@media screen and (max-width: 700px) {
    label.for-input-file-upload {
        font-size: 15px;
        width: initial;
        min-width: 250px;
        margin: 10px 10px 50px 10px;
        height: 30px;
    }
}
