<!DOCTYPE html>
<html lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FileX</title>
  <link href="lib.css" type="text/css" rel="stylesheet">
  <link href="filex.css" type="text/css" rel="stylesheet">
</head>
<body>
<script> window.prolongation_ENT_args = { current: "CFilex", layout_url: "/EsupUserApps/layout" }; </script>
<script type="text/javascript" src="https://ent.univ-paris1.fr/ProlongationENT/loader.js"></script>
      
<div id="main" v-cloak>
  <div v-if="!info">
      Chargement en cours, veuillez patienter...
  </div>
  <div v-else-if="uploaded.get_url">
    <div>
    <p>Le fichier <b>{{uploaded.file_name}}</b> a été déposé.</p>

    <p>Pour qu'un utilisateur télécharge votre fichier, envoyez lui cette adresse :</p>
    <p><a :href="uploaded.get_url">{{uploaded.get_url}}</a></p>
    
    <p>Votre fichier sera automatiquement supprimé du serveur dans <b>{{upload.daykeep}}</b> jours.</p>
    </div>
    <div style="margin-top: 2rem">
     <i>Informations</i> :
     <ul>
      <li> Taille : {{uploaded.size | formatBytes(2)}}</li>
      <li> Disponible jusqu'au : {{expiration}}</li>
      </ul>
    </div>

    <div style="margin-top: 2rem">
        <button @click="back_to_upload_choice">Déposer un autre fichier</button>
    </div>
  </div>
  <div v-else>

    <h2>Cette application permet d'envoyer de gros fichiers (il vous reste {{info.remaining_quota | formatBytes(2)}}).</h2>

    <form>

        <p>Expiration du fichier : <select v-model="upload.daykeep">
            <option v-for="nb in upload.daykeep_opts" :value="nb">
                {{nb}}
              </option>
        </select> Jours</p>
        <p><label><input type="checkbox" v-model="upload.download_ack">Recevoir un avis de réception à chaque téléchargement</label></p>
            <!--
        <p><label><input type="checkbox" v-model="upload.summary">Recevoir un récapitulatif des téléchargements lorsque le fichier aura expiré</label></p>
        -->
        <p><label><input type="checkbox" v-model="upload.with_password">Utiliser un mot de passe pour le téléchargement</label>
            <span v-if="upload.with_password">:
              <input type="password" v-model="upload.password" size="15" maxlength="30"><br>
              <span class="notes">Le mot de passe doit avoir une longueur comprise entre <strong>4</strong> et <strong>30</strong> caract&egrave;res</span>
            </span>
        </p>

        <label class="for-input-file-upload">
            <svg aria-hidden="true" focusable="false" data-icon="location-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M444.52 3.52L28.74 195.42c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 51.17 70.36 67.17 92.75 19.19l191.9-415.78c15.99-38.39-25.59-79.97-63.97-63.97z"></path>
            </svg>
            Sélectionnez le fichier à déposer
            <input type="file" @change="file_selected" style="display: none">
        </label>
        <input type="submit" value="Envoyer" style="display: none">
    </form>
    <div v-if="uploading.xhr">
        <progress :value="uploading.loaded" :max="uploading.total" v-if="uploading.total"></progress>
        <span>Temps restant : 
            <span v-if="uploading.estimated_remaining_time">{{uploading.estimated_remaining_time}}</span>
            <i v-else>estimation en cours</i>
        </span>
        <button @click="upload_abort">Annuler</button>
    </div>

    <h3>Vos fichiers</h3>

    <p>Vous avez {{info.files_summary_by_deleted.false.count}} fichiers encore valides.</p>

    <p>Espace Utilisé : {{info.files_summary_by_deleted.false.total_size | formatBytes(2)}} / {{info.quota | formatBytes(2)}}</p>

    <p><a href="/manage.html">Gérer mes fichiers</a></p>

    <h3>Conditions d'utilisation du service</h3>
    <ul>
        <li>En mettant à disposition des fichiers, son propriétaire devient responsable de leur diffusion.</li>
        <li>L'utilisateur s'engage à utiliser ce service à des fins strictement professionnelles : enseignement, recherche.</li>
        <li>En utilisant ce service, l'utilisateur déclare avoir lu et accepté ces conditions. </li>
    </ul>
  </div>
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script src="common.js"></script>
<script src="upload.js"></script>

</body>
</html>