<div id="main" v-cloak>
  <div v-if="!info">
      Chargement en cours, veuillez patienter...
  </div>
  <div v-else-if="uploaded.get_url">
    <div class="uploaded_msg">
    <p>Le fichier <b>{{uploaded.file_name}}</b> a été déposé.</p>

    <p>Pour qu'un utilisateur télécharge votre fichier, envoyez lui cette adresse :</p>
    <p><a :href="uploaded.get_url">{{uploaded.get_url}}</a></p>
    
    <p>Votre fichier sera automatiquement supprimé du serveur dans <b>{{upload.daykeep}}</b> jours.</p>
    </div>
    <div style="margin-top: 2rem">
     <i>Informations</i> :
     <ul>
      <li> Taille : {{formatBytes(uploaded.size, 2)}}</li>
      <li> Disponible jusqu'au : {{expiration}}</li>
      </ul>
    </div>

    <div style="margin-top: 2rem">
        <button @click="back_to_upload_choice">Déposer un autre fichier</button>
    </div>
  </div>
  <div v-else>

    <h2>Cette application permet d'envoyer de gros fichiers (il vous reste {{formatBytes(info.remaining_quota, 2)}}).</h2>

    <form :class="{ uploading: !!uploading.xhr || !!uploading.trying_to_continue }">

        <p>Expiration du fichier : <select v-model="upload.daykeep">
            <option v-for="nb in daykeep_opts" :value="nb">
                {{nb}}
              </option>
        </select> Jours</p>
        <p><label><input type="checkbox" v-model="upload.notify_on_download">Recevoir un avis de réception à chaque téléchargement</label></p>
        <p><label><input type="checkbox" v-model="upload.notify_on_delete">Recevoir un récapitulatif des téléchargements lorsque le fichier aura expiré</label></p>
        <p><label><input type="checkbox" v-model="upload.with_password">Utiliser un mot de passe pour le téléchargement</label>
            <span v-if="upload.with_password">:
              <input type="password" v-model="upload.password" size="15" maxlength="30"><br>
              <span class="notes">Le mot de passe doit avoir une longueur comprise entre <strong>4</strong> et <strong>30</strong> caract&egrave;res</span>
            </span>
        </p>

        <div class="drop-zone" @drop.prevent="ondrop" @dragover.prevent="" @dragenter="dragging_over_drop_zone = true" @dragleave="dragging_over_drop_zone = false" :class="{ dragging_over_drop_zone: dragging_over_drop_zone }">
          <label class="for-input-file-upload">
            <svg aria-hidden="true" focusable="false" data-icon="location-arrow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M444.52 3.52L28.74 195.42c-47.97 22.39-31.98 92.75 19.19 92.75h175.91v175.91c0 51.17 70.36 67.17 92.75 19.19l191.9-415.78c15.99-38.39-25.59-79.97-63.97-63.97z"></path>
            </svg>
            Sélectionnez le fichier à déposer
            <input type="file" @change="file_selected" style="display: none" :disabled="!!uploading.xhr">
          </label>
        </div>
        <input type="submit" value="Envoyer" style="display: none">
    </form>
    <div v-if="uploading.xhr || uploading.trying_to_continue">
        <progress :value="uploading.loaded" :max="uploading.total" v-if="uploading.total"></progress>
        <span v-if="uploading.xhr">Temps restant : 
            <span v-if="uploading.estimated_remaining_time">{{uploading.estimated_remaining_time}}</span>
            <i v-else>estimation en cours</i>
        </span>
        <span v-else>
            Une erreur a eu lieu, tentative de reprise...
        </span>
        <button @click="upload_abort">Annuler</button>
    </div>

   <div v-if="info.files_summary_by_deleted.false.count || info.files_summary_by_deleted.true.count">
    <h3>Vos fichiers</h3>

    <p>Vous avez {{info.files_summary_by_deleted.false.count}} fichiers.</p>

    <p>Espace Utilisé : {{formatBytes(info.files_summary_by_deleted.false.total_size, 2)}} / {{formatBytes(info.quota, 2)}}</p>

    <p><a href="/manage">Gérer mes fichiers</a></p>
   </div>
   
    <h3>Conditions d'utilisation du service</h3>
    <ul>
        <li>En mettant à disposition des fichiers, son propriétaire devient responsable de leur diffusion.</li>
        <li>L'utilisateur s'engage à utiliser ce service à des fins strictement professionnelles : enseignement, recherche.</li>
        <li>En utilisant ce service, l'utilisateur déclare avoir lu et accepté ces conditions. </li>
    </ul>
    <div v-if="info.is_admin">
        <h3>Administration</h3>
        <p><a href="/admin">Gérer les dérogations par utilisateur</a></p>
    </div>
  </div>
</div>

<script src="upload.js"></script>
