
<div id="main" v-cloak>
  <div v-if="!files">
      Chargement en cours, veuillez patienter...
  </div>
  <div v-else>
    <h2>Vos {{files.length}} fichiers<span v-if="hide_deleted"> non expirés</span></h2>

    <div style="float: right">Espace Utilisé : {{files_size | formatBytes(2)}}
        <p></p>
        <button @click="hide_deleted = !hide_deleted">
            <span v-if="hide_deleted">Montrer les fichiers expirés</span>
            <span v-else>Cacher les fichiers expirés</span>
          </button>
    
    </div>
    <table>
        <tr>
            <th>Nom</th>
            <th>Taille</th>
            <th>Déposé le</th>
            <th>Expire le</th>
            <th>Téléchargé</th>
        </tr>
        <tr v-for="file in files">
            <td><a :href="'/manage-file#' + file._id" :class="{ is_deleted: file.deleted }">{{file.filename}}</a></td>
            <td>{{file.size | formatBytes(2)}}</td>
            <td>{{file.uploadTimestamp | dateToLocaleString}}</td>
            <td>{{file.expireAt | dateToLocaleString}}</td>
            <td>{{file.downloadCount}}</td>
        </tr>
    </table>
  </div>
</div>
<script src="manage.js"></script>
