 <div id="main" v-cloak>
  <div v-if="!file">
      Chargement en cours, veuillez patienter...
  </div>
  <div v-else style="margin-left: 1rem">
      <h2>Fichier <span v-if="file.filename">« {{file.filename}} »</span><span v-else>sans nom</span></h2>

      <span class="notes" v-if="file.deleted">Fichier supprimé</span>
      <button @click="delete_file" v-else>Supprimer ce fichier</button>
      <dl>
      <dt>Déposé le</dt><dd>{{dateToLocaleString(file.uploadTimestamp)}}</dd>
      <dt>Expire le</dt><dd>{{dateToLocaleString(file.expireAt)}}
        <button style="margin-left: 0.5rem" @click="extend_lifetime">Prolonger de {{info && info.max_daykeep}} jours à partir de maintenant</button>
      </dd>
      <dt>Taille</dt> <dd>{{formatBytes(file.size, 2)}}</dd>
      <dt>Nombre de téléchargements</dt> <dd>{{file.downloads.length}}</dd>
      <dt>Adresse de téléchargement</dt> <dd><a :href="file.get_url">{{file.get_url}}</a></dd>
      <dt>Options</dt> <dd>
        <File_options :file="file" @modified_options="modified_options = $event"></File_options>
        <button @click="save_file_options" v-if="modified_options.length">Enregister les modifications des options</button>
    </dd>
      </dl>
      <div v-if="file.downloads.length">
        <h3>Liste des téléchargements</h3>
        <table>
            <tr>
                <th>Adresse</th>
                <th>Date</th>
                <th>Annulé</th>
            </tr>
            <tr v-for="download in file.downloads">
                <td>{{download.ip}}</td>
                <td>{{dateToLocaleString(download.timestamp)}}</td>
                <td>{{download.bytes !== file.size ? 'Oui' : 'Non'}}</td>
            </tr>
        </table>
      </div>
    </div>
 </div>

 <script src="manage-file.js"></script>
